* {
	margin: 0;
	padding: 0;
}

html {
	color: black;
	background: #aaaaaa;
}

fieldset {
	border: 0;
}

#wrapper {
	position: relative;
	top: 20px;
	left: 5%;
	max-width: 90%;
	min-width: 500px;
}

#header {
	border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

#logo {
	background: url(../img/header_fill.png);
	height: 70px;
}

#header_right {
	position: absolute;
	right: 1px;
}

#navigation {
	height: 25px;
	background: #404448;
	color: white;
	border-top: 1px solid black;
	text-align: right;
	font-size: 13px;
}

#navigation p {
	margin-top: 5px;
	margin-right: 3px;
}

#content {
	background: white;
	color: black;
	border: 1px solid black;
	padding: 40px 20px;
}

#content h1 {
	color: #f3a314;
	background: white;
	font-size: 26px;
}

#content form legend {
	font-size: 22px;
	font-weight: bold;
}

#content form p {
	padding: 5px 15px;
}

#content form label {
	width: 200px;
	float: left;
}

#content form span {
	color: red;
	background: white;
	font-weight: bold;
	display: none;
}

#footer {
	font-size: 12px;
	text-align: right;
	padding: 20px 0 10px;
}
