body {
background: #aaaaaa;
}

div.site {
min-width: 100px;
max-width: 1000px;
margin-left: auto;
margin-right: auto;
}

div.title {
background: #404448;
width: 100%;
}

div.headerimg {
border: 2px solid black;
background-image: url(../img/header_fill.png);
background-repeat: repeat-x;
}

div.menu {
border-left: 2px solid black;
border-right: 2px solid black;
border-bottom: 2px solid black;
overflow: hidden;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 2px;
}

a.menuitem {
border-left: 1px solid white;
padding-left: 5pt;
padding-right: 5pt;
float:right;
}

a.menuitem:link {
color: white;
text-decoration: none;
}

a.menuitem:visited {
color: white;
text-decoration: none;
}

a.menuitem:active {
color: white;
text-decoration: none;
}

img.rheader {
float: right;
}

h1 {
color: #f09300
}

div.content {
border-left: 2px solid black;
border-right: 2px solid black;
border-bottom: 2px solid black;
padding: 20px;
background: white;
}

div.field {
  background-image: url(../img/field_background.png);
  background-repeat: repeat-both;
  padding: 0;
}

#gameinfo {
  float:left;
  background: #404448;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: smaller;
  width: 210px;
  height: 210px;
  margin: 0;
  padding: 15px;
  border: 2px solid black;
  border-left: none;
  border-top: none;
  overflow: hidden;
}

#gameinfo h1 {
  font-size: larger;
  font-weight: normal;
  margin: 0;
}

#gameinfo table {
  margin-top: 10px;
  margin-bottom: 20px;
}

#gameinfo th {
  color: #f09300;
  text-align: left;
  font-weight: normal;
  line-height: 1.4;
  padding-right: 10px;
}

#gameinfo td {
  color: white;
}

#racetrack {
  list-style-type: none;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  padding: 0;
}

#racetrack li {
  background-image: url(../img/empty_road.png);
  width: 123px;
  height: 80px;
}

#racetrack li.oil {
  background-image: url(../img/oil_road.png);
}

#racetrack li:first-child {
  background-image: url(../img/start_road.png);
  height: 98px;
}

#racetrack li:last-child {
  background-image: url(../img/finish_road.png);
  height: 98px;
}

#die {
  float: right;
  margin: 0;
  padding: 5px;
  width: 120px;
  height: 120px;
  border: 2px solid #f9c228;
  background: #404448;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: larger;
  text-align: center;
}

#die p {
  margin: 0;
  margin-bottom: 7px;
}

form fieldset {
margin-bottom: 10px;
border: none;
}
form legend {
font-weight: bold;
}
form label {
display: inline-block;
line-height: 1.8;
width: 120px; /* Width of labels */
}
form fieldset ol {
margin: 0;
padding-left: 10px;
padding-top: 10px;
}
form fieldset li {
list-style: none;
}
form fieldset fieldset {
border: none;
margin: 3px 0 0;
}
p.footer {
text-align: right;
font-size: small;
}
