/* main */
h1 {
    color: #f09300
}

div.content {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 20px;
    background: white;
}

body {
  background: #aaaaaa;
  font-family: Helvetica, Arial, sans-serif;
}

div.site {
min-width: 542px;
max-width: 1000px;
margin-left: auto;
margin-right: auto;
}

div.title {
background: #404448;
width: 100%;
}

div.header {
border: 1px solid black;
background-image: url(../img/header_fill.png);
background-repeat: repeat-x;
height: 70px;
}

/* menu */
ul.menu {
border-left: 1px solid black;
border-right: 1px solid black;
border-bottom: 1px solid black;
overflow: hidden;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 2px;
margin: auto;
list-style-type: none;
font-size: 12px;
height: 16px;
}

a.menuitem {
border-left: 1px solid white;
padding-left: 5pt;
padding-right: 5pt;
padding-top: 2px;
float:right;
}

a.menuitem:link {
color: white;
text-decoration: none;
}

a.menuitem:visited {
color: white;
text-decoration: none;
}

a.menuitem:active {
color: white;
}

img.rheader {
float: right;
}

div.field {
  background-image: url(../img/field_background.png);
  background-repeat: repeat;
  padding: 16px;
}

/* game info */
#gameinfo {
  float:left;
  background: #404448;
  font-size: smaller;
  width: 210px;
  height: 210px;
  margin: 0;
  margin-top: -16px;
  margin-left: -16px;
  padding: 15px;
  border: 1px solid black;
  border-left: none;
  border-top: none;
  overflow: hidden;
}

#gameinfo table caption {
  font-size: larger;
  font-weight: normal;
  margin: 0;
  margin-bottom: 10px;
  text-align: left;
  color: #f09300;
}

#gameinfo table {
  margin-top: 0px;
  margin-bottom: 20px;
}

#gameinfo th {
  color: #f09300;
  text-align: left;
  font-weight: normal;
  line-height: 1.4;
  padding-right: 10px;
}

#gameinfo td {
  color: white;
}

/* game field */
#racetrack-container {
  margin: 0 auto;
  width: 606px;
}


img.car {
    top: 10px;
}

img.oil {
    top: 0px;
}

#car1 {
    float: left;
    margin-left: 16px;
}

#car2 {
    float: left;
    margin-left: 71px;
}

#racetrack {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  left: 50%;
  margin-left: -61px;
  width: 123px;
}

#racetrack li {
  position: relative;
  width: 123px;
  height: 80px;
}

#racetrack li img {
    position: absolute;
    left: 0px;
}

#racetrack li#pos1 {
  height: 98px;
}

#racetrack li#pos7 {
  height: 98px;
}

/* current player + dice */
#currentplayer {
  float: right;
  margin: 0;
  padding: 2px;
  width: 116px;
  height: 116px;
  border: 2px solid #f9c228;
  background: #404448;
  color: white;
  font-size: 18px;
  text-align: center;
}

#currentplayer p {
  margin: 0;
  margin-bottom: 6px;
}

/* registration form */
form fieldset {
margin-bottom: 10px;
border: none;
}
form legend {
font-weight: bold;
}
form label {
width: 200px;
float: left;
clear: left;
}

form fieldset ol {
margin: 0;
padding-left: 10px;
padding-top: 10px;
}
form fieldset li {
list-style: none;
line-height: 1.8;
}
form fieldset fieldset {
border: none;
margin: 3px 0 0;
}

p.footer {
text-align: right;
font-size: small;
}

/* error display */
.warning-ok {
	display: none;
}

.warning-show {
    color: red;
    display: inline;
}

.input-wrong {
    background: red;
}

.warning-show em {
    font-style: normal;
}

